<button mat-raised-button (click)="sortYear()">Sort by Year</button>
<button mat-raised-button (click)="sortKm()">Sort by Odometer</button>
<mat-list>
  <mat-list-item *ngFor="let car of cars">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ car.Make }} {{ car.Model }}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Color: {{ car.Color }}</p>
        <p matListItemLine>Year: {{ car.Year }}</p>
        <p matListItemLine>$AUD: {{ car.Price }}</p>
        <p matListItemLine>Odometer: {{ car.Km }}km</p>
      </mat-card-content>
    </mat-card>
  </mat-list-item>
</mat-list>
