<form class="form">
  <mat-form-field class="full-width">
    <mat-label>Search Make</mat-label>
    <input
      matInput
      placeholder="Honda"
      value="Honda"
      [formControl]="makeControl"
    />
  </mat-form-field>
  <br />
  <mat-form-field class="full-width">
    <mat-label>Search Model</mat-label>
    <input
      matInput
      placeholder="Civic"
      value="Civic"
      [formControl]="modelControl"
    />
  </mat-form-field>
  <br />
  <mat-slider min="0" max="99999">
    <input
      value="0"
      type="range"
      id="priceMin"
      list="priceValues"
      [formControl]="minPriceControl"
      matSliderStartThumb
    />
    <input
      value="9999999"
      matSliderEndThumb
      type="range"
      id="priceMax"
      list="priceValues"
      [formControl]="maxPriceControl"
    />
  </mat-slider>
</form>
<button mat-raised-button (click)="refresh()">Search!</button>
